* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", "Roboto", sans-serif;
}

.add:hover {
  color: #ff480e !important;
}

.example-custom-input {
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  color: #b9bdc9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-custom-input:focus {
  outline: 0;
}

.rasta-stripes {
  border: 1px solid #ff480e !important;
  padding: 5px 10px !important;
  border-radius: 10px !important;
}

.react-datepicker {
  font-size: 1em !important;
  font-family: roboto !important;
}

.react-datepicker__header.react-datepicker-year-header {
  width: 300px;
}

.react-datepicker__month-text {
  width: 80px !important;
  padding: 5px !important;
  margin: 5px 5px !important;
}

.react-datepicker__monthPicker {
  height: 150px;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.react-datepicker__month-wrapper {
  margin: 4px;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.react-datepicker__month-text--keyboard-selected {
  background-color: #ff480e !important;
}

.react-datepicker__navigation--previous {
  border-right-color: #ff480e !important;
}

.react-datepicker__navigation--next {
  border-left-color: #ff480e !important;
}

.react-datepicker__navigation--previous:focus,
.react-datepicker__navigation--next:focus {
  outline: 0 !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border-bottom: 0 !important;
}

.react-datepicker__navigation {
  top: 15px !important;
}

.input-group-text {
  color: #ffffff !important;
  background-color: #ff7043 !important;
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form
  input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="phone"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f0ab51;
  box-shadow: 0 1px 0 0 #f0ab51;
}

.form-control:focus,
.custom-select:focus {
  border-color: transparent !important;
  /* box-shadow: 0 0 0 0.2rem rgba(241, 172, 80, 0.5) !important; */
}

select option {
  background-color: #ff7043 !important;
  color: #fff !important;
  box-shadow: 0 0 0 0.2rem rgba(241, 172, 80, 0.5) !important;
}

select option:hover {
  background-color: #ff7043 !important;
  color: #fff !important;
  box-shadow: 0 0 0 0.2rem rgba(241, 172, 80, 0.5) !important;
}

select option:not(:checked) {
  background-color: #fff !important;
  color: #000 !important;
}

select option:checked:after {
  content: attr(title);
  background: #666;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
}

.scrollbar-orange {
  scrollbar-color: #000 #f5f5f5;
}

.scrollbar-orange::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.scrollbar-orange::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff7043;
}

.bordered-orange::-webkit-scrollbar-track {
  border: 1px solid #ff7043;
}

.thin::-webkit-scrollbar {
  width: 10px;
}

.containerClass {
  margin-top: 0;
}

.euro-icon {
  color: #ff835d;
}

.input-feedback {
  color: red;
  margin: 0.75rem 0;
  font-weight: bold;
}

input.error {
  border-color: red;
}

.containercard {
  max-height: 481px !important;
  overflow: auto;
}

.containercard-view {
  width: 100%;
  max-height: 481px;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.ant-picker-input > input::placeholder {
  color: #6c757d !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.ant-picker-input > input {
  font-size: 1rem !important;
}

.ant-picker-input:focus {
  outline: 0 !important;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: #40a9ff !important;
  border-right-width: 0px !important;
}

.ant-picker {
  border: 0 !important;
}

.selectapproved:hover {
  outline: 0;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #ff835d !important;
  border-right-width: 1px !important;
}

.ant-picker-focused {
  outline: 0 !important;
  box-shadow: 0 0 0 0px rgb(255, 255, 255) !important;
  border-right-width: 0px !important;
}

.header-lg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title span {
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background-color: #f1f2f7;
  color: #000;
  width: 100%;
  padding: 0 100px;
}

.main-header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}

.main-header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.left-menu {
  width: 70%;
}

.right-menu {
  width: 30%;
  height: 100vh;
}

.main-container {
  min-height: calc(100vh - 150px);
  background-color: #f1f2f7;
  padding: 100px 100px 0;
}

.expense-item-container {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 20px;
}

.expense-item-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-item-header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fe;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.list-expenses-info {
  display: flex;
  margin-top: 5px;
  margin-bottom: 3px;
  justify-content: space-between;
  align-items: center;
}

.expense-item-header-logo {
  color: #77b6ff;
  font-size: 22px;
}

.list-expenses {
  background-color: #f1f2f7;
}

.list-expenses-info-date {
  text-align: center;
  font-family: roboto;
  font-weight: bold;
  font-size: 20px;
}

.list-expenses-info-transactions {
  text-align: center;
  font-family: roboto;
  font-size: 20px;
}

.list-expenses-body-nempty {
  max-height: 481px;
  overflow: auto;
  padding: 0 10px 0 0;
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.list-expenses-body-empty {
  max-height: 481px;
  overflow: auto;
  padding: 0 10px 0 0;
}

.no-expenses {
  color: #b9bdc9;
  font-size: 20px;
  margin: 25px;
}

.expense-item-name {
  font-weight: bold;
  font-size: 20px;
}
.expense-item-date {
  color: #a9a9a9;
  font-weight: bold;
  font-size: 18px;
}

.expense-item-approval {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.expense-item-approval-approved {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #1bff07;
  font-size: 18px;
  font-weight: bold;
  width: 40%;
}
.expense-item-approval-not-approved {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ff1607;
  font-size: 18px;
  font-weight: bold;
  width: 40%;
}

.expense-item-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 30%;
}

.expense-item-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-item-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 9, 66, 0.1);
  border-radius: 10px;
  width: 43px;
  height: 43px;
  margin-right: 5px;
}
.expense-item-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fe;
  border-radius: 10px;
  width: 43px;
  height: 43px;
  margin-right: 5px;
}
.expense-item-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f7;
  border-radius: 10px;
  width: 43px;
  height: 43px;
  margin-right: 5px;
}
.expense-item-view-logo {
  color: rgba(255, 9, 66, 0.9);
  font-size: 26px;
  cursor: pointer;
}
.expense-item-edit-logo {
  color: #77b6ff;
  font-size: 22px;
  cursor: pointer;
}
.expense-item-delete-logo {
  color: #b9bdc9;
  font-size: 26px;
  cursor: pointer;
}

.date-picker {
  width: 200px;
  margin: 20px 0;
  padding: 5px 0;
  border-width: 0px;
  font-size: 1rem;
  border-bottom: 1px solid #ced4;
}

.calendar-icon {
  font-size: 25px;
  color: #000;
}

.add-expense-btn,
.edit-expense-btn {
  width: 100%;
  border-radius: 10px;
  margin: 0;
  margin-top: 50px;
}

.select-approval {
  width: 100%;
  outline: 0px;
}

.right-menu-container {
  padding-top: 35px;
  text-align: center;
}

.right-menu-user {
  text-align: center;
  margin: 10px 0 20px;
  font-family: roboto;
  font-weight: bold;
  font-size: 20px;
}

.right-menu-add-btn {
  margin: 70px auto 0;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

/* Mobile */
@media screen and (max-width: 1230px) {
  .list-expenses-info {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
  }
  .expense-item-container {
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 20px;
    flex-direction: column;
  }
  .right-menu {
    display: none;
  }
  .left-menu {
    width: 100%;
  }
  .main-container {
    min-height: calc(100vh - 350px);
    background-color: #f1f2f7;
    padding: 20px 100px 0;
  }
  .header-title {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    display: none;
  }
  .main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    padding: 50px 100px;
  }
  .header-lg {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-title span {
    font-size: 20px;
  }
  .example-custom-input {
    margin-top: 0px;
    width: 225px;
    padding: 10px 20px;
  }
  .react-datepicker-popper {
    left: 45px !important;
  }
  .main-header ul {
    justify-content: center;
    margin-bottom: 0;
  }
  .main-header ul li {
    margin-left: 0px;
  }
}
